<!DOCTYPE html>
<html>
<head>
  <title>TranslationCenter</title>
  <%= stylesheet_link_tag    "translation_center/application", :media => "all" %>
  <%= javascript_include_tag "translation_center/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
