/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
  */

 body { padding-top: 60px; }

.nav_text {
  margin-top: 10px !important;
  margin-right: 5px;
}

.navbar span {
  margin-left: 5px;
}
.navbar .brand,.navbar span, .navbar .nav > li > a, .navbar a, .navbar .nav_text {
  color: white !important;
}

.navbar li.dropdown ul.dropdown-menu a.language_to {
  color: black !important;
}

.navbar-inner {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ED2), color-stop(100%, #008CBA)) !important;
}

.navbar .brand {
  padding-left: 58px !important;
  background: url(/assets/translation_center_logo.png) no-repeat 20px 7px
}

.spinner {
  left: 420px !important;
  top: -14px !important;
}

input#search_keys, input#translations{
  width: 110px;
}