/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.translations_listing {
  padding-left: 20px;
  height: 410px;
  width: 57%;
}

.translation_box {
	padding: 10px;
	margin-bottom: 10px;
}

.translation_box:hover {
	background-color: rgb(247, 247, 245);
}

.translation_box:hover a.close {
	display: block;
}

.translation_box .close {
	float: right;
	display: none;
}

.translation_box .translation_voting .traslation_actions a{
	float: right;
	margin-right: 8px;
}

.translation_voting {
	padding-left: 5px;
	width: 100%;
	position: relative;
	bottom: 0px;
  /*margin-top: 25px;*/
}

.votes_count {
  /*margin-top: 13px;*/
}

.translation_info {
	min-height: 31px;
	width: 100%;
	border-bottom: 1px rgb(230, 230, 230) solid;
	margin-bottom: 2px;
}

.translation_info .translation_text {
	min-width: 80%;
}


.translations_container {

}

.translation_creation_info {
	font-size: 8.5pt;
}

.editable-pre-wrapped {
	white-space: normal;
}