/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.translations_listing {
  padding-left: 20px;
  height: 410px;
}

.translation_info {
}

.translation_box {
  min-height: 60px !important;
  padding-bottom: 9px;
}

.translations_vote {
  margin-top: 13px;
  margin-right: 12px;
  text-align: center;
}

.translation_voting {
  margin-top: 25px;
}

.votes_count {
  margin-left: 236px;
  margin-top: 13px;
}