%li{ class: "#{index == 0 ? 'well well-small active translation_key' : 'well well-small translation_key' }", 'key-id' => translation_key.id}
  - if translation_key.accepted_in?(to_lang)
    .translation_key_badge.badge-success{title: t('.translated')}
  - elsif translation_key.no_translations_in?(to_lang)
    .translation_key_badge.badge-important{title: t('.untranslated')}
  - else
    .translation_key_badge.badge-warning{title: t('.waiting_acceptance')}

  %a{ href: "##{translation_key.id}", 'data-toggle' => "tab"}
    %p
      %em
        = t(translation_key.name)
      
    %small
      = translation_key.name