.tabbable.tabs-left
  %ul.nav.nav-tabs
    - translation_keys.each do |translation_key|
      %li
        %a{ href: "##{translation_key.id}", 'data-toggle' => "tab"}
          = translation_key.name
  .tab-content
    - translation_keys.each do |translation_key|
      .tab-pane{ id: translation_key.id }
        %p
          = render 'translation_center/translation_keys/show', translation_key: translation_key


