$('#category').html("#{escape_javascript(render 'translation_center/translation_keys/translation_keys', translation_keys: @keys, category: @category)}")
$('#translated_keys_count').text("(#{@translated_keys_count})");
$('#pending_keys_count').text("(#{@pending_keys_count})");
$('#untranslated_keys_count').text("(#{@untranslated_keys_count})");
current_page = 1;