- if translation.accepted?
  %button.unaccept_translation.btn.btn-success{ 'data-translation-id' => translation.id }
    = t('.unaccept')
- else 
  %button.accept_translation.btn.btn-success{ 'data-translation-id' => translation.id }
    = t('.accept')