/ .span
/   = t('.sort_by')
/   %a.sort_by_date{ href: '#', 'data-key-id' => translation_key.id }
/     = t('.date')
/   %a.sort_by_votes{ href: '#', 'data-key-id' => translation_key.id }
/     = t('.votes')

/ %hr
.span11.translations_container
  - translations.each do |translation|
    = render 'translation_center/translations/show', translation: translation
  - if translation_key.translations.in(to_lang).empty?
    .alert.alert-error
      = t('.no_translations_available')