- if(current_filter_is?('all'))
  $('li.translation_key[data-key-id=' + "#{@translation.key.id}" + ']').children('div').removeClass('badge-warning').addClass('badge-success');
  #{@translation_already_accepted}
  - if(!@translation_already_accepted)
    decrementPending();
    incrementTranslated();
- elsif(current_filter_is?('pending'))
  incrementTranslated();
  decrementPending();
  moveToNextKey($('#translation_id_' + "#{@translation.id}").attr('data-key-id'));


  

// TODO USE i18n for text
$('#translation_id_' + "#{@translation.id}").find('.accept_translation').removeClass('accept_translation').addClass('unaccept_translation').text('Unaccept')
