- if(current_filter_is?('all'))
  $('li.translation_key[data-key-id=' + "#{@translation.key.id}" + ']').children('div').removeClass('badge-success').addClass('badge-warning');
  
- else
  moveToNextKey($('#translation_id_' + "#{@translation.id}").attr('data-key-id'));

incrementPending();
decrementTranslated();
$('#translation_id_' + "#{@translation.id}").find('.unaccept_translation').removeClass('unaccept_translation').addClass('accept_translation').text('Accept')